<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Kodbruket_VsfKco" setup_version="1.0.3">
        <sequence>
            <module name="Klarna_Core"/>
            <module name="Klarna_Kp"/>
            <module name="Klarna_Ordermanagement"/>
        </sequence>
    </module>
</config>
